@font-face {
  font-family: AUTHENTIC Sans;
  src: url("./fonts/WOFF/AUTHENTICSans-60.woff2") format("woff2"),
    url("./fonts/WOFF/AUTHENTICSans-60.woff") format("woff"),
    url("./fonts/OTF/AUTHENTICSans-60.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: AUTHENTIC Sans;
  src: url("./fonts/WOFF/AUTHENTICSans-90.woff2") format("woff2"),
    url("./fonts/WOFF/AUTHENTICSans-90.woff") format("woff"),
    url("./fonts/OTF/AUTHENTICSans-90.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: AUTHENTIC Sans;
  src: url("./fonts/WOFF/AUTHENTICSans-130.woff2") format("woff2"),
    url("./fonts/WOFF/AUTHENTICSans-130.woff") format("woff"),
    url("./fonts/OTF/AUTHENTICSans-130.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: AUTHENTIC Sans;
  src: url("./fonts/WOFF/AUTHENTICSans-150.woff2") format("woff2"),
    url("./fonts/WOFF/AUTHENTICSans-150.woff") format("woff"),
    url("./fonts/OTF/AUTHENTICSans-150.otf") format("opentype");
  font-weight: 800;
}

body {
  font-family: AUTHENTIC Sans, sans-serif;
  font-size: 1.5em;
  margin: 0;
}

#spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  transition: opacity 0.8s
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgb(199, 199, 238);
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

*::selection {
  background: rgba(255, 255, 0, 0.651);
}

a {
  color: blue;
  letter-spacing: 0.1em;
}

i {
  letter-spacing: 0.1em;
}

h2 {
  font-weight: 400;
  margin-top: 1em;
}

h3 {
  font-size: 0.9em;
  font-weight: 200;
  letter-spacing: 0.1em;
}

.small {
  font-size: 0.9em;
  letter-spacing: 0.03em;
}

.extra-small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.6em;
}

.thin {
  font-weight: 200;
}

.nowrap {
  white-space: nowrap;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: stretch;
}

.content {
  max-width: 400px;
  margin: 0 auto;
  padding: 0 1em;
}

.content p {
  line-height: 2em;
  max-width: 400px;
  letter-spacing: 0.05em;
  margin: 1em 0;
}

.content p.extra-margin {
  margin-top: 4em;
}

svg {
  overflow: visible;
  max-height: 90vh;
  animation: fade-in-right 1s linear;
  display: block;
  margin: 0 auto;
}

#svg_embed {
  margin-top: 2em;
  margin-bottom: 2em;
  max-height: 90vh;
  min-height: 40vh;
}

.spacer {
  max-width: 700px;
  margin: 2em auto;
  border-top: 1px solid #eee;
}

#footer {
  column-gap: 3.5em;
  margin-top: 8em;
  padding-bottom: 4em;
  font-size: 0.8em;
  padding-top: 3em;
  border-top: 1px solid #eee;
  justify-content: center;
  line-height: 2em;
  opacity: 0.7;
}

#footer p, #footer li {
  line-height: 2em;
  font-size: 0.8em;
  letter-spacing: 0.08em;
  font-weight: 100;
}

#footer ul {
  margin-top: 0em;
}

#footer h3 {
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 706px) {
  #footer {
    justify-content: space-between;
    padding-left: 3em;
    padding-right: 3em;
  }
}